{% extends "base.html" %}
{% block content %}

{% if user_logged_in%}
<h1>Käyttäjän {{user_logged_in.name}} tentit</h1>
{% endif %}

<p>
    <a href="{{base_path}}/exam/new" class="btn btn-success">Lisää tentti</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Aika</th>
            <th>Paikka</th>
            <th>Materiaalit</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan Tentit tähän -->
        {% for exam in exams %}
        <tr>
            <td><a href="{{base_path}}/exam/{{exam.id}}">{{exam.topic}}</a></td>
            <td>{{exam.testdate}}</td>
            <td>{{exam.testtime}}</td>
            <td><ul>
                    <li>Luento Materiaali</li>
                    <li>Kurssikirja</li>
                    <li>Toinen kirja</li>
                </ul>
            </td>
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/exam/{{exam.id}}/edit">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}