{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{exam.topic}}</h1>
<!-- Painikkeet tähän -->
<p>
    {{forms.destroy_button("#{base_path}/exam/#{exam.id}/destroy")}} 
    <a href="{{base_path}}/exam/{{exam.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>PVM:</strong> {{exam.testdate}} {{exam.testtime}}</li>
    <li><strong>Paikka:</strong> {{exam.room}}</li>
    <li><strong>Vastuuhenkilö:</strong> {{exam.tester}}</li>
</ul>
<!-- Tenttimateriaalien yksityiskohtainen listaus tähän -->
<p>
    Luento materiaali, Leena Luennoitsija, 55 sivua.<br>
    Kurssikirja, Kirjailija Kai, Otava, luvut 1-3, 30 sivua.<br>
    Toinen kirja, Rustaaja Riina ja Skriivaaja Tino, Tietokirjat, sivut 34-96, 63 sivua.
</p>
{% endblock %}