{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{exam.topic}}</h1>

<div class="alert alert-success">
    {{message}}
</div>

<!-- Painikkeet tähän -->
<p>
    {{forms.destroy_button("#{base_path}/exam/#{exam.id}/destroy")}} 
    <a href="{{base_path}}/exam/{{exam.id}}/edit" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>PVM:</strong> {{exam.testdate}} {{exam.testtime}}</li>
    <li><strong>Paikka:</strong> {{exam.room}}</li>
    <li><strong>Vastuuhenkilö:</strong> {{exam.tester}}</li>
</ul>
<!-- Tenttimateriaalien yksityiskohtainen listaus tähän -->
{% for material in examMaterials %}
<p>  
    <strong>{{material.topic}}</strong>, {{material.writer}}, {{material.kind}}, {{material.lang}}, {{material.limitation}}, {{material.pages}}<br>
    {{material.info}}
</p>    
{% endfor %}
{% endblock %}