{% extends "base.html" %}
{% block content %}
<h1>Tenttiholvi</h1>
<h3>Kirjaudu sisään</h3>

{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<form method="post" action="{{base_path}}/login">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input type="text" class="form-control" name="username" value="{{username}}">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
        <label>Salasana</label>
        <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
</form>

<p>
    <a href="{{base_path}}/register">Reksiteröidy käyttäjäksi</a>
</p>
{% endblock %}